* {
    box-sizing: border-box;
    max-width: 1400px;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif; 
    background-color: rgb(34, 40, 49);
    line-height: 1.6;
    margin: 0; 
    padding: 0;
}

#warperDiv {
    display: flex;         
}

#sideBar {
    flex: 0 0 350px;      
    background-color: rgb(57, 62, 70); 
    color: rgb(238, 238, 238);
    padding: 10px;
    min-height: 100vh; 
}

#sideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#mainContent {
    flex: 1;              
    padding: 20px;
    color: rgb(238, 238, 238);
}

.sectionBreaker {
    color: rgb(0, 173, 181);
    font-size: 1.8rem;
    border-bottom: 3px solid rgb(0, 173, 181);
    max-width: 900px;
    margin: 20px 0;
}

.sectionBreaker h2 {
    margin: 0 0 10px 0; 
}

.sideBarSection h2 {
    margin: 5px auto 5px;
}



.sideBarSection h3,p {
    margin: 5px auto 5px;
}

.experience-entry h3 {
  font-size: 2rem;
  margin: 5px auto 5px;
  padding: 0px;
}


.sideBarSection{
 padding: 5px;
}


.experience-entry,
.sideBarSection {
    background-color: rgb(238, 238, 238);
    width: 100%; 
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 173, 181);
    border-left: 8px solid rgb(0, 173, 181);
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #333; 
}


footer {
    padding: 20px;
    color: rgb(238, 238, 238);
}

.sidebar-profile {
    display: flex;
    align-items: center; 
    gap: 15px;           
    margin-bottom: 25px;
}

.sidebar-profile img {
    border-radius: 8px;  
    object-fit: cover;
    border: 2px solid rgb(0, 173, 181);
    border-left: 8px solid rgb(0, 173, 181);
}

.sidebar-profile h1 {
    font-size: 1.8rem;   
    margin: 0;
    line-height: 1.2;
}

.sidebar-profile p {
    font-size: 1.2rem;
    margin: 0px 0 0 0;
    opacity: 0.9;
}

.profile-header h2{
  font-size: 3rem;  
  margin: 0;
}

.profile-header p{
  font-size: 1.2rem;  
}

.project-entry {
    background-color: rgb(238, 238, 238);
    width: 100%; 
    display: grid;
    gap: 20px;
    grid-template-columns: 35% 65% ;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 173, 181);
    border-left: 8px solid rgb(0, 173, 181);
    padding: 10px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #333; 
}


.project-entry h3 {
  font-size: 2rem;
  margin: 0 0 10px 0;
  padding: 0px;
}

.project-entry ul {
  font-size: 1rem;
  margin: 10px ;
  padding: 0px;
}

.project-entry img {
    width: 100%;
    height: 400px;         /* Set your desired fixed height here */
    object-fit: cover;     /* Crops the image to fit without stretching */
    object-position: top;
    border-radius: 5px;
}